<p id="notice"><%= notice %></p>

<p>
  <strong>Steam id 64:</strong>
  <%= @steam_user.steam_id_64 %>
</p>

<%= link_to 'Edit', edit_steam_user_path(@steam_user) %> |
<%= link_to 'Back', steam_users_path %>
