

body, textarea {
	font-family: Meiryo, Arial, Helvetica, Verdana, sans-serif;
	line-height: 1.3;
}

body .quote_serif {
	font-family: Meiryo, Georgia, serif;
	line-height: 1.3;
}

a, a:hover, a:active, a:visited {
	font-family: Meiryo, Arial, Helvetica, Verdana, sans-serif;
}

.commentthread_comment_text {
	padding-bottom: 1px;
}